{% extends 'base.jinja' %}

{% block content %}
<h1>Your Bookings</h1>

<p>List of booked treatments:</p>

<table>
    <tr>
        <th>Name</th>
        <th></th>
        <th>Treatment</th>
        <th></th>
        <th>Date</th>
        <th></th>
        <th>Time</th>
        <th></th>
    </tr>
    {% for booking in bookings_list %}
    <tr>
        <td>{{booking.customer_name}}</td>
        <td>|</td>
        <td>{{booking.treatment.treatment_name}} </td>
        <td>|</td>
        <td> {{booking.booking_date}} </td>
        <td>|</td>
        <td> {{booking.booking_time}} </td>
        <td>|</td>
        <td> <a href="/booking/{{ booking.id }}/edit_booking">Edit a Treatment here</a> </td>
        <td>|</td>
        {# <td><form action="/booking/{{ booking.treatment.id }}/delete" method="post"><button type="submit">Delete Me</button>
        </td></form> #}
    </tr>
    {% endfor %}
</table>

{% endblock %}
