{% extends 'base.jinja' %}

{% block content %}
<h1>Available Treatments</h1>

<p>Book your treatment with us today</p>

<table>
    <tr>
        <th>Treatment Name</th>
        <th></th>
        <th>Length (minutes)</th>
        <th></th>
        <th>Cost (£)</th>
    </tr>
    {% for treatment in treatments %}
    <tr>
        <td> {{ treatment.treatment_name }} </td>
        <td>|</td>
        <td> {{ treatment.treatment_length }} </td>
        <td>|</td>
        <td> {{ treatment.treatment_price }} </td>
        <td>|</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
