{% extends 'base.jinja' %}

{% block content %}
<h1>Available <span style="color: #b964fe">Treatments</span></h1>

<h2>Peruse our list of life-altering treatments below</h2>
<p><a href="http://localhost:4999/new_booking">Book your next treatment here and become a more interesting person</a></p>

<table>
    <tr>
        <th>Treatment Name</th>
        <th></th>
        <th>Length (minutes)</th>
        <th></th>
        <th>Cost (£)</th>
    </tr>
    {% for treatment in treatments %}
    <tr>
        <td>{{ treatment.treatment_name }}</td>
        <td></td>
        <td>{{ treatment.treatment_length }}</td>
        <td></td>
        <td>{{ treatment.treatment_price }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
