* {
  margin: 0;
  padding: 0;
  }
/*   
  .container {
      max-width: 900px;
      margin: 0 auto;
      padding: 0 2rem;
      width: 100%;
  }
  
  html {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Hero section */
  
  /* .hero {
      background-color: rgba(212, 65, 2, 0.1);
      height: calc(100vh - 64px - 4rem); /* creates spacing around the hero -64px as this is the height of the header -4rem makes it less than full page size */
  /* } */
/*   
  .hero__title {
      font-size: 50px;
      color: #1f1e1e;
  }
  
  .hero__title--span {
      color: #d44102;
  }
  
  .hero__paragraph {
      font-size: 32px;
      color:rgb(31, 31, 31)
  }
  
  .hero__left {
      width: 55%;
  } */
  
  /* Header */
/*   
  .header_logo {
      color: #d44102;
      font-weight: 1000;
      font-size: 20px;
  }
  
  .header {
      height: 64px;
      display: flex;
      align-items: center;
  }
  
  .hero > .container {
      display: flex;
      justify-content: space-between; /* puts image to right side with space between this and hero title, paragraph and buttons */
      /* align-items: center; this and below orient hero to be centred and take up 100% of the given space */
      /* height: 100%;  */
  /* } */
  
  /* .button {
      background-color: #d44102;
      color: white;
      border-radius: 10px;
      border: none;
      padding: 12px 32px;
      font-weight: bold;
  }
  
  .button-wrapper {
      margin-top: 32px;
      display: flex;
      gap: 1.5rem;
  }
  
  @media only screen and (max-width: 768px) { /* boiler-plate text accounting for size of page on smaller screens under 768px, ie mobiles. px can be changed. */
      .hero > .container {
          flex-direction: column;
      }
      .hero__title {
          font-size: 32px;
      }
  } */