{% extends 'base.jinja' %}

{% block content %}
<h1>Retrain Your <span style="color: #b964fe">Brain</span></h1>



<h2>Expand your <span style="color: #b964fe">mind</span> with our state of the art Mental Enhancers</h2>

<h2>Discover the world of Mental Enhancements and improve your life and the lives of others around you. Don't settle for being ordinary and boring, your loved ones will thank you for booking one of our our state-of-the-art enhancement treatments to become a more fun person to be around.</h2>
<h2>From learning to fly, to making the most delicious sour dough, our Mental Enhancers will put you above the rest! Stand out from the crowds and leave the drudges of society behind you.</h2>
<h1>Join us <span style="color: #b964fe">Today</span></h1>

<h2><a href="http://localhost:4999/new_booking">Peruse all of our Treatments here</a></h2>

{% endblock %}