{% extends 'base.jinja' %}

{% block content %}
<h1>Retrain Your Brain</h1>

{# <a href="/customer_id/new_booking">Book a Treatment</a> #}

<p>Enhance your mind with one of our state of the art mental enhancers</p>
{% endblock %}